.ios, .md {
    
       page-home {
    
           .item-ios.item-block .item-inner {
               border: 0 !important;
           }

           button {
               width: 60% !important;
               margin-left: 20% !important;

               ion-icon {
                   margin-right: 10px;
               }
               
           }
        
           ion-item {
               width: 92%;
               margin: 4%;
               padding-left: 10px !important;
               margin-bottom: 10px;
               background-color: #fff;
               opacity: 0.7;
               font-size: 0.9em;
               transition: 0.2s linear;
               height: 40px !important;
           }

           .toolbar-ios ion-title {
                background-color: map-get($colors, light);
                color: #fff;
           }

           .toolbar-title-ios {
                color: #000;
           }
    
       }
    
   }